<!doctype html>
<html lang="en">
<head>
      <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="photo" href="{ url_for('static', filename='static/cert.png') }">
     <link rel="stylesheet" href="{ url_for('static', filename='css/style.css')}">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>

</head>
<body>
<    <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
 <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
       <br><br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:30px"><b>Ivan Ivanow</b></span><br/><br/>
       <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
       <span style="font-size:30px">Vodka course</span> <br/><br/>
       <span style="font-size:25px"><i>dated</i></span><br>
       <span style="font-size:30px">04/02/21</span>
       <span style="font-size:25px"><i>Term</i></span><br>
       <span style="font-size:30px">indefinite</span>
</div>
</div>
</body>
</html>
